body {
    font-family: 'Rubik Iso', sans-serif;
    background-color: rgb(87, 250, 177);
    text-align: center;
}

.kwiklinks-title {
    font-size: 48px;
    font-weight: bold;
}

.search-container {
    margin: 20px auto;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Adjust as needed */
    gap: 10px;
}

.button {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: black;
    color: white;
}

.no-result-message {
    display: none;
    font-size: 18px;
    margin-top: 20px;
}
